.comics__flex__display__wrap
    flex-wrap: wrap
.comics__card
    width: 225px
    height: 415px
    margin-bottom: 45px
    margin-right: 66px // 70px
    &:nth-child(4n)
        margin-right: 0
    // background: #FFFFFF
    // box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25)
    img
        width: 225px
        height: 350px
    h2
        //margin-top: 10px
        font-weight: 700
    p
        margin-top: 5px
        font-weight: 700
        color: rgba(0, 0, 0, 0.6)
